<div class="img-list">
  <div *ngIf="imageList" class="container">
    <div *ngFor="let i of rowIndexArray" class="row">
      <div *ngIf="i==0" class="col-md-3 imagebox">
        <a routerLink="/image/upload">
          <img src="https://shacknews-ugc.s3.amazonaws.com/user/9647/article/2021-03/feature_template.jpg?versionId=nddKZddYOhg2ylBtIjyrfNPxR7LuedFw" class="img-fluid">
          <span style="color: black !important;" class="imagebox-desc">Insert New Image</span></a>
      </div>
      <div *ngIf="i!=0" class="col-md-3 imagebox">
        <img [src]="imageList[3*i-1].imageUrl" class="img-fluid">
        <span class="imagebox-desc">{{imageList[3*i-1].caption}}</span>
      </div>
      <div *ngIf="imageList[3*i]" class="col-md-3 imagebox">
          <img [src]="imageList[3*i].imageUrl" class="img-fluid">
          <span class="imagebox-desc">{{imageList[3*i].caption}}</span>
      </div>
      <div *ngIf="imageList[3*i+1]" class="col-md-3 imagebox">
        <img [src]="imageList[3*i+1].imageUrl" class="img-fluid">
        <span class="imagebox-desc">{{imageList[3*i+1].caption}}</span>
      </div>
    </div>
  </div>
</div>